<form [formGroup]="forgotForm" (ngSubmit)="sendResetLink()" class="forgot-form">
  <h2 class="text-center mb-4">{{pageHeading}}</h2>

  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>{{formLabels.email}}</mat-label>
    <input matInput placeholder="Enter your registered email" formControlName="email" />

    @if (forgotForm.get('email')?.errors?.['required']) {
      <mat-error>{{errorMessages.email.required}}</mat-error>
    }
    @if (forgotForm.get('email')?.errors?.['email']) {
      <mat-error>{{errorMessages.email.email}}</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="w-100 mb-2" [disabled]="forgotForm.invalid">
    {{buttonLabels.forgotPassword}}
  </button>

  <div class="text-center mt-2">
    <a routerLink="/auth/login">Back to {{routeLabels.login}}</a>
  </div>
</form>
