<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

  <h2 class="text-center mb-4">{{pageHeading}}</h2>

  <!-- New Password -->
  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>{{formLabels.password}}</mat-label>
    <input
    matInput
      type="password"
      placeholder="Enter your new password"
      formControlName="password"
    />

    @if (resetForm.get('password')?.errors?.['required']) {
      <mat-error>{{errorMessages.password.required}}</mat-error>
    }
    @if (resetForm.get('password')?.errors?.['weakPassword']) {
      <mat-error>{{errorMessages.password.weakPassword}}</mat-error>
    }
  </mat-form-field>

  <!-- Confirm Password -->
  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>{{formLabels.confirmPassword}}</mat-label>
    <input
    matInput
      type="password"
      placeholder="Confirm your password"
      formControlName="confirmPassword"
    />

    @if (resetForm.get('confirmPassword')?.errors?.['required']) {
      <mat-error>{{errorMessages.confirmPassword.required}}</mat-error>
    }
    @if (resetForm.get('confirmPassword')?.errors?.['mismatch']) {
      <mat-error>{{errorMessages.confirmPassword.mismatch}}</mat-error>
    }
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="w-100 mb-2"
    [disabled]="resetForm.invalid"
  >
    {{buttonLabels.resetPassword}}
  </button>
</form>
